@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: theme(colors.black.DEFAULT);
  --background-color: theme(colors.white.200);
  --primary-color: theme(colors.primary.DEFAULT);
  --primary-100: theme(colors.primary.100);
  --success-color: theme(colors.success.DEFAULT);
  --danger-color: theme(colors.danger.DEFAULT);
  --white-color: theme(colors.white.DEFAULT);
  --white-100: theme(colors.white.100);
  --white-200: theme(colors.white.200);
  --black-color: theme(colors.black.DEFAULT);
  --grey-color: theme(colors.grey.DEFAULT);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: theme(colors.white.DEFAULT);
    --background-color: theme(colors.black.800);
    --white-100: theme(colors.black.900);
  }
}

body {
  /* color: var(--foreground-color);
  background: var(--background-color); */
  @apply bg-white-200 text-black dark:bg-black-800 dark:text-white;
  width: 100%;
  height: 100vh;
  height: 100dvh;
}

/* BTN---*/
.create-btn {
  @apply rounded-2xl bg-white text-center text-clamp24 font-semibold shadow dark:bg-black xl:py-7 3xl:py-11;
}
.btn-border {
  @apply rounded-2xl border-2 border-primary text-clamp18;
  padding-top: 0.438rem;
  padding-bottom: 0.438rem;
  padding-right: 3.75rem;
  padding-left: 3.75rem;
  line-height: 1.361rem;
}
.btn-border-small {
  @apply rounded-2xl border-2 border-primary text-clamp18;
  padding-top: 0.563rem;
  padding-bottom: 0.563rem;
  padding-right: 2.75rem;
  padding-left: 2.75rem;
  line-height: 1.361rem;
}
.btn-bg-full {
  @apply rounded-2xl border-2 border-primary bg-primary text-clamp18 dark:text-black;
  padding-top: 0.438rem;
  padding-bottom: 0.438rem;
  padding-right: 3.75rem;
  padding-left: 3.75rem;
  line-height: 1.361rem;
}
.ellipsis-btn {
  @apply absolute right-4 top-4 rounded-full hover:bg-primary-100 dark:hover:text-black;
}
/* ---BTN */

/* form--- */
.form-input {
  @apply w-full rounded-lg border border-black bg-transparent px-2 focus:border-none dark:border-grey xl:h-[2.375rem] 3xl:h-10;
}
input[type="date"][value=""]::-webkit-datetime-edit-day-field,
input[type="date"][value=""]::-webkit-datetime-edit-month-field,
input[type="date"][value=""]::-webkit-datetime-edit-year-field,
input[type="date"][value=""]::-webkit-datetime-edit-text {
  /* color: #999999; */
  -webkit-text-fill-color: transparent;
  @apply text-transparent dark:text-transparent;
}
.form-select {
  @apply w-full rounded-lg border border-black dark:border-grey xl:h-[2.375rem] 3xl:h-10;
}
/* ---form */

/* navagation--- */
.side-menu-box {
  @apply shadow;
  width: 100%;
  height: 100%;
}
/* ---navagation */

/* scroll bar style--- */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: theme(colors.grey.100);
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: theme(colors.grey.DEFAULT);
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 10px;
  height: 10px;
  /* background: theme(colors.primary.DEFAULT); */
}
/* ---scroll bar style */

/* item list--- */
.done-title {
  @apply relative mb-6 flex items-center justify-between px-6 text-clamp24 font-medium;
}
.done-title::before {
  content: "";
  position: absolute;
  left: -0.875rem;
  top: 0.5rem;
  width: 0.938rem;
  height: 0.938rem;
  border-radius: 100%;
  box-shadow: 1px 1px 0.938rem 1.25rem theme(colors.success.DEFAULT);
  border: 1px solid theme(colors.success.op90);
  background: theme(colors.success.DEFAULT);
}
.note-title {
  @apply relative text-clamp24 font-medium;
}
.note-title::before {
  content: "";
  position: absolute;
  left: -2.438rem;
  top: 0.313rem;
  width: 0.938rem;
  height: 0.938rem;
  border-radius: 100%;
  box-shadow: 1px 1px 0.938rem 1.25rem theme(colors.danger.DEFAULT);
  border: 1px solid theme(colors.danger.op90);
  background: theme(colors.danger.DEFAULT);
}
/* ---item list */

.action-card {
  @apply w-full grow rounded-2xl bg-white dark:bg-black;
  max-height: 4.813rem;
  min-height: 3.063rem;
}

/* Modal--- */
.modal-body {
  @apply mx-auto flex flex-col items-center justify-center xl:w-[28.125rem] xl:gap-9 xl:py-6 3xl:w-[37.5rem] 3xl:gap-12 3xl:py-9;
}
/* ---Modal */

/* dropdown--- */
.dropMenu-container {
  @apply flex cursor-pointer flex-col items-stretch justify-start rounded-2xl;
}
.dropMenu-container > div:first-child {
  border-radius: 1rem 1rem 0 0;
}
.dropMenu-container > div:last-child {
  border-radius: 0 0 1rem 1rem;
}
/* ---dropdown */

/* select#priority-select {
  font-family: "FontAwesome", "Second Font name";
}
.btn_sky {
  @apply bg-blue-200 hover:bg-blue-600;
}  */
