@import "~sweetalert2/dist/sweetalert2.min.css";

// custom sweet alert style

.swal2-icon {
  margin: 0 auto 1.75em;
}
.swal2-actions {
  gap: 0.625rem;
  flex-wrap: nowrap;
  width: 100%;
}
.swal2-popup-customer {
  // width: 28.75rem;
  padding: 3.125rem;
  @apply dark:bg-black dark:text-white;
}
.swal2-confirm-singleBtn {
  width: 12.5rem;
  height: 2.44rem;
  border-radius: 1rem;
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--black-color);
  &:hover {
    color: white;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  // &:active {
  //   color: white;
  //   background-color: #183d62;
  //   border: 1px solid #183d62;
  // }
  // &:focus-visible {
  //   outline: none;
  // }
}
.swal2-html-container-customer {
  margin: 0;
  p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.57rem;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 3.75rem;
  }
  h6:not(:empty) {
    margin-bottom: 0.625em;
    font-size: 1rem;
    color: #212529;
  }
}

.swal2-cancel-twoBtn {
  width: 10rem;
  height: 2.44rem;
  border-radius: 1rem;
  border: 1px solid var(--primary-color);
  // &:hover {
  //   background-color: #f04c4c;
  //   color: white;
  // }
  // &:active {
  //   background-color: #e53030;
  //   color: white;
  // }
  // &:focus-visible {
  //   outline: none;
  // }
}
.swal2-confirm-twoBtn {
  width: 10rem;
  height: 2.44rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  @apply dark:text-black;
  // &:hover {
  //   background-color: #1f4e7b;
  //   color: white;
  // }
  // &:active {
  //   background-color: #183d62;
  //   color: white;
  // }
  // &:focus-visible {
  //   outline: none;
  // }
}
.swal2-input-customer {
  margin: 0rem 0rem 3em 0rem;
  height: 2.1875rem;
  font-size: 1rem;
}

@media (min-width: 576px) {
  .swal2-popup-customer {
    max-width: 28.75rem;
  }
}

@media (max-width: 575.98px) {
  .swal2-confirm-singleBtn {
    width: 17.5rem;
  }
  .swal2-icon {
    margin-top: 0.625em;
  }
  .swal2-popup-customer {
    // min-width: 22.5rem;
    padding: 2.5rem;
  }
  .swal2-popup-customer2 {
    min-height: 21.875rem;
  }
  .swal2-confirm-twoBtn,
  .swal2-cancel-twoBtn {
    width: 8.44rem;
  }
  .swal2-html-container-customer {
    h3 {
      font-size: 1.75rem;
    }
    p {
      font-size: 0.875rem;
    }
    h5 {
      font-size: 1.125rem;
    }
    h6:not(:empty) {
      font-size: 0.875rem;
    }
    div[data-class="taskWrapper"] {
      > div {
        p {
          font-size: 0.875rem;
        }
        span {
          font-size: 0.75rem;
        }
      }
    }
  }
  .swal2-html-container-customer2 {
    margin: 0 -1.563rem;
    h5 {
      font-size: 1.125rem;
    }
    h6,
    input,
    select {
      font-size: 0.875rem;
    }
    h6 {
      margin: 0.5rem 0.75rem;
    }
    p {
      font-size: 1rem;
    }
    ~ .swal2-actions {
      margin-top: 1.813rem;
    }
  }
  .swal2-input-customer {
    height: 2rem;
    font-size: 0.875rem;
  }

  .swal2-validation-message {
    font-size: 0.875rem;
  }
}
