@import "~react-big-calendar/lib/sass/styles.scss";

/* 以下自訂 calendar 樣式 */
.rbc-custom-date-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding-top: 0.3rem;
  font-weight: 500;
  & .today {
    position: relative;
    color: white;
    text-align: center;
  }
  & .today::before {
    content: "";
    position: absolute;
    background: var(--primary-color);
    border-radius: 100%;
    top: -0.05em;
    bottom: -0.05em;
    left: -0.25em;
    right: -0.25em;
    z-index: -1;
  }
  & .holiday {
    color: var(--danger-color);
    font-weight: 700;
  }
}

.rbc-month-view {
  border: 0;
  .rbc-month-header {
    margin-bottom: 0.5rem;
    .rbc-header {
      border: 0;
      color: rgba(153, 153, 153, 1);
      font-weight: 500;
    }
  }
  .rbc-month-row {
    .rbc-row-bg {
      .rbc-day-bg {
        cursor: inherit;
        border-left: none;
        border-right: none;
        &.rbc-today {
          background: var(--white-color);
        }
      }
      .rbc-off-range-bg {
        // background: var(--white-100);
        @apply bg-white-100 dark:bg-black-900;
      }
    }
    .rbc-row-content {
      .rbc-row {
        align-items: start;
        .rbc-date-cell {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.rbc-ds-calendar {
  @apply shadow;
  width: clamp(19rem, calc(305px + 145 * ((100vw - 1440px) / 480)), 28.125rem);
  height: 16rem;
  padding: 0.75rem 1rem 1.25rem 0.75rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  .rbc-month-header {
    .rbc-header {
      font-size: 0.875rem;
    }
  }
  .rbc-month-row + .rbc-month-row {
    border-top: 0px;
  }
}
.rbc-default-calendar {
  @apply shadow;
  padding: 2.25rem 4.69rem 6.625rem 4.625rem;
  border-radius: 1rem;
  font-size: 1.125rem;
  .rbc-month-header {
    margin-bottom: 0rem;
    .rbc-header {
      border-bottom: 1px solid rgba(153, 153, 153, 1);
      font-size: 1.5rem;
    }
  }
  .rbc-month-row + .rbc-month-row {
    border-top: 1px solid rgba(153, 153, 153, 1);
  }
  .rbc-month-row {
    .rbc-row-bg {
      .rbc-day-bg {
        cursor: pointer;
        &.selected {
          // background: var(--white-100);
          @apply bg-white-100 dark:bg-black-900;
        }
      }
      .rbc-day-bg:hover {
        // background: var(--white-100);
        @apply bg-white-100 dark:bg-black-900;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .rbc-month-view {
    border: 0;
    .rbc-month-header {
      margin-bottom: 0.5rem;
      .rbc-header {
        border: 0;
        color: rgba(153, 153, 153, 1);
        font-weight: 500;
      }
    }
    .rbc-month-row {
      .rbc-row-bg {
        .rbc-day-bg {
          cursor: inherit;
          border-left: none;
          border-right: none;
          &.rbc-today {
            background: var(--white-color);
          }
        }
        .rbc-off-range-bg {
          // background: var(--white-100);
          @apply bg-white-100 dark:bg-black-900;
        }
      }
      .rbc-row-content {
        .rbc-row {
          align-items: start;
          .rbc-date-cell {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  .rbc-ds-calendar {
    @apply shadow;
    width: clamp(
      19rem,
      calc(305px + 145 * ((100vw - 1440px) / 480)),
      28.125rem
    );
    height: clamp(
      16.3rem,
      calc(260px + 190 * ((100vw - 1440px) / 480)),
      28.125rem
    );
    padding: 0.75rem 1rem 1.25rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.875rem;
    .rbc-month-header {
      .rbc-header {
        font-size: 0.875rem;
      }
    }
    .rbc-month-row + .rbc-month-row {
      border-top: 0px;
    }
  }
  .rbc-default-calendar {
    @apply shadow;
    padding: 1.125rem 2.56rem 5rem 3.25rem;
    border-radius: 1rem;
    font-size: 1.15rem;
    .rbc-month-header {
      margin-bottom: 0rem;
      .rbc-header {
        border-bottom: 1px solid rgba(153, 153, 153, 1);
        font-size: 1.25rem;
      }
    }
    .rbc-month-row + .rbc-month-row {
      border-top: 1px solid rgba(153, 153, 153, 1);
    }
    .rbc-month-row {
      .rbc-row-bg {
        cursor: pointer;
        .rbc-day-bg {
          &.selected {
            // background: var(--white-100);
            @apply bg-white-100 dark:bg-black-900;
          }
        }
        .rbc-day-bg:hover {
          // background: var(--white-100);
          @apply bg-white-100 dark:bg-black-900;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .rbc-ds-calendar {
    padding: 1.5rem 2rem 1rem 1.5rem;
    font-size: 1.125rem;
    .rbc-month-header {
      .rbc-header {
        font-size: 1.125rem;
      }
    }
  }
  .rbc-default-calendar {
    padding: 2.25rem 4.69rem 1.8rem 4.625rem;
    font-size: 1.75rem;
    .rbc-month-header {
      .rbc-header {
        font-size: 1.75rem;
      }
    }
  }
}
/* 以上自訂 calendar 樣式 */
