@import "~gantt-task-react/dist/index.css";
._2dZTy:nth-child(even) {
  fill: #fff;
}
._9w8d5 {
  fill: theme(colors.grey.DEFAULT);
}
/* text (name) in the task or project */
._3zRJQ {
  fill: theme(colors.black.DEFAULT);
}
.dash-gantt-container ._CZjuD,
.project-gantt-container ._CZjuD {
  border-radius: 1rem 1rem 0 0;
}
._nI1Xw {
  font-weight: 700;
}
._34SS0:nth-of-type(even) {
  background-color: #f5f5f5;
  @apply dark:bg-black-900;
}
._35nLX {
  fill: #ffffff;
  stroke: #e0e0e0;
  stroke-width: 1.4;
  @apply dark:fill-black;
}
._2q1Kt {
  text-anchor: middle;
  fill: #555;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  @apply dark:fill-white;
}
._2dZTy {
  fill: #fff;
  @apply dark:fill-black;
}
._3KcaM {
  fill: #555;
  text-anchor: start;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  @apply dark:fill-white;
}
._3T42e {
  background: #fff;
  padding: 0.75rem;
  box-shadow:
    0 0.188rem 0.375rem rgba(0, 0, 0, 0.16),
    0 0.188rem 0.375rem rgba(0, 0, 0, 0.23);
  @apply dark:bg-grey;
}
